ALWAYS MAKE SURE TO UPDATE roadmap.md WHEN YOU FINISH A TASK!
ALWAYS REMEMBER TO FIRSTLY CHECK THE REFERINCE FILES TO SEE WHAT YOU ARE SUPPOSED TO DO IN THE roadmap.md FILES.
ALWAYS USE YOUR SUPABASE MCP WHEN YOU ARE DOING TASKS, EDITS OR WORK ON ANY DATABASE, AUTH OR EGDE FUNCTION/CRON JOB RELATED STUFF.